.header-menu {
  &__nav {
    display: flex;
    gap: 2rem;
    color: white;
  }

  &__link {
    margin-bottom: 2px;
    padding-bottom: 0.5rem;

    &:hover {
      margin-bottom: 0;
      border-bottom: white solid 2px;
    }
  }
}