@use '../../../assets/styles/abstract' as a;

.hero {
  grid-area: 1/1 / 1/4;
  display: grid;
  margin-bottom: -10rem;

  @include a.breakpoint(medium) {
    grid-template-columns: 1fr min(100% - 4rem * 2, 100rem) 1fr;
  }

  &__picture {
    position: relative;
    top: -10rem;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: unset;
    filter: brightness(40%);

    @include a.breakpoint(medium) {
      grid-area: 1/1 / 1/4;
      top: -10rem;
    }
  }


  &__image {
    width: 100%;
  }

  &__text {
    place-self: center;
    position: absolute;
    width: min(80%, 22rem);
    margin-bottom: 16rem;
    padding: 1.5rem;
    color: white;
    border: 2px solid white;

    @include a.breakpoint(medium) {
      position: unset;
      grid-area: 1/2;
      justify-self: flex-start;
      width: 21rem;
    }

    @include a.breakpoint(large) {
      justify-self: flex-start;
      width: 36rem;
    }
  }
}